USE [TQ_Bitacoras]
GO
/****** Object:  StoredProcedure [dbo].[sp_Novedad_Actualizar]    Script Date: 1/03/2026 5:35:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_Novedad_Actualizar]
    @IdNovedad INT,
    @IdUsuarioActual INT,
    @IdTipoNovedad INT,
    @Descripcion NVARCHAR(1000),
    @IdProducto INT = NULL,
    @TiempoPerdidoMinutos INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InicioDT DATETIME, @FinDT DATETIME;
    DECLARE @EsAdmin BIT = 0;

    -- Detectar rol admin
    IF EXISTS (
        SELECT 1
        FROM dbo.Usuario u
        INNER JOIN dbo.Rol r ON r.IdRol = u.IdRol
        WHERE u.IdUsuario = @IdUsuarioActual
          AND r.Nombre = 'Administrador'
    )
    SET @EsAdmin = 1;

    -- Obtener ventana del turno (admin: no filtra por dueño)
    SELECT
        @InicioDT =
            CASE
                WHEN b.HoraInicio IS NOT NULL
                    THEN DATEADD(SECOND, DATEDIFF(SECOND, '00:00:00', b.HoraInicio), CAST(b.Fecha AS datetime))
                ELSE
                    CASE b.Turno
                        WHEN 'Turno 1' THEN DATEADD(HOUR, 6, CAST(b.Fecha AS datetime))
                        WHEN 'Turno 2' THEN DATEADD(HOUR, 14, CAST(b.Fecha AS datetime))
                        WHEN 'Turno 3' THEN DATEADD(HOUR, 22, CAST(b.Fecha AS datetime))
                        WHEN 'Turno Administrativo' THEN DATEADD(HOUR, 7, CAST(b.Fecha AS datetime))
                        ELSE CAST(b.Fecha AS datetime)
                    END
            END,
        @FinDT =
            CASE
                WHEN b.HoraFin IS NOT NULL AND b.HoraInicio IS NOT NULL
                    THEN
                        CASE
                            WHEN b.HoraFin < b.HoraInicio
                                THEN DATEADD(DAY, 1, DATEADD(SECOND, DATEDIFF(SECOND, '00:00:00', b.HoraFin), CAST(b.Fecha AS datetime)))
                            ELSE DATEADD(SECOND, DATEDIFF(SECOND, '00:00:00', b.HoraFin), CAST(b.Fecha AS datetime))
                        END
                ELSE
                    CASE b.Turno
                        WHEN 'Turno 1' THEN DATEADD(HOUR, 14, CAST(b.Fecha AS datetime))
                        WHEN 'Turno 2' THEN DATEADD(HOUR, 22, CAST(b.Fecha AS datetime))
                        WHEN 'Turno 3' THEN DATEADD(HOUR, 6, DATEADD(DAY, 1, CAST(b.Fecha AS datetime)))
                        WHEN 'Turno Administrativo' THEN DATEADD(HOUR, 17, CAST(b.Fecha AS datetime))
                        ELSE CAST(b.Fecha AS datetime)
                    END
            END
    FROM dbo.Novedad n
    INNER JOIN dbo.Bitacora b ON b.IdBitacora = n.IdBitacora
    WHERE n.IdNovedad = @IdNovedad
      AND ( @EsAdmin = 1 OR b.IdUsuario = @IdUsuarioActual );

    IF @InicioDT IS NULL OR @FinDT IS NULL
    BEGIN
        RAISERROR('No autorizado o registro no encontrado.', 16, 1);
        RETURN;
    END

    IF @EsAdmin = 0 AND NOT (GETDATE() BETWEEN @InicioDT AND @FinDT)
    BEGIN
        RAISERROR('No se puede modificar: solo está permitido durante el turno en que fue reportado.', 16, 1);
        RETURN;
    END

    -- Validar tipo activo
    IF NOT EXISTS (
        SELECT 1
        FROM dbo.TipoNovedad
        WHERE IdTipoNovedad = @IdTipoNovedad
          AND Activo = 1
    )
    BEGIN
        RAISERROR('El tipo de novedad seleccionado está inactivo o no existe.', 16, 1);
        RETURN;
    END

    DECLARE @TipoTexto NVARCHAR(50);
    SELECT @TipoTexto = Nombre
    FROM dbo.TipoNovedad
    WHERE IdTipoNovedad = @IdTipoNovedad;

    UPDATE dbo.Novedad
    SET IdTipoNovedad = @IdTipoNovedad,
        Tipo = @TipoTexto, -- legacy compatible
        Descripcion = @Descripcion,
        IdProducto = @IdProducto,
        TiempoPerdidoMinutos = @TiempoPerdidoMinutos
    WHERE IdNovedad = @IdNovedad;
END