USE [TQ_Bitacoras]
GO
/****** Object:  StoredProcedure [dbo].[sp_Novedad_Eliminar]    Script Date: 11/02/2026 8:39:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_Novedad_Eliminar]
    @IdNovedad INT,
    @IdUsuarioActual INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InicioDT DATETIME, @FinDT DATETIME;

    -- Obtener ventana real del turno (si HoraInicio/HoraFin son NULL, usar horas por Turno)
SELECT
    @InicioDT =
        CASE
            WHEN b.HoraInicio IS NOT NULL
                THEN DATEADD(SECOND, DATEDIFF(SECOND, '00:00:00', b.HoraInicio), CAST(b.Fecha AS datetime))
            ELSE
                CASE b.Turno
                    WHEN 'Turno 1' THEN DATEADD(HOUR, 6, CAST(b.Fecha AS datetime))
                    WHEN 'Turno 2' THEN DATEADD(HOUR, 14, CAST(b.Fecha AS datetime))
                    WHEN 'Turno 3' THEN DATEADD(HOUR, 22, CAST(b.Fecha AS datetime))
                    WHEN 'Turno Administrativo' THEN DATEADD(HOUR, 7, CAST(b.Fecha AS datetime))
                    ELSE CAST(b.Fecha AS datetime)
                END
        END,
    @FinDT =
        CASE
            WHEN b.HoraFin IS NOT NULL AND b.HoraInicio IS NOT NULL
                THEN
                    CASE
                        WHEN b.HoraFin < b.HoraInicio
                            THEN DATEADD(DAY, 1, DATEADD(SECOND, DATEDIFF(SECOND, '00:00:00', b.HoraFin), CAST(b.Fecha AS datetime)))
                        ELSE DATEADD(SECOND, DATEDIFF(SECOND, '00:00:00', b.HoraFin), CAST(b.Fecha AS datetime))
                    END
            ELSE
                CASE b.Turno
                    WHEN 'Turno 1' THEN DATEADD(HOUR, 14, CAST(b.Fecha AS datetime))
                    WHEN 'Turno 2' THEN DATEADD(HOUR, 22, CAST(b.Fecha AS datetime))
                    WHEN 'Turno 3' THEN DATEADD(HOUR, 6, DATEADD(DAY, 1, CAST(b.Fecha AS datetime)))
                    WHEN 'Turno Administrativo' THEN DATEADD(HOUR, 17, CAST(b.Fecha AS datetime))
                    ELSE CAST(b.Fecha AS datetime)
                END
        END
FROM dbo.Novedad n
INNER JOIN dbo.Bitacora b ON b.IdBitacora = n.IdBitacora
WHERE n.IdNovedad = @IdNovedad
  AND b.IdUsuario = @IdUsuarioActual;


    IF @InicioDT IS NULL OR @FinDT IS NULL
    BEGIN
        RAISERROR('No autorizado o registro no encontrado.', 16, 1);
        RETURN;
    END

    IF NOT (GETDATE() BETWEEN @InicioDT AND @FinDT)
    BEGIN
        RAISERROR('No se puede eliminar: solo está permitido durante el turno en que fue reportado.', 16, 1);
        RETURN;
    END

    DELETE FROM dbo.Novedad
    WHERE IdNovedad = @IdNovedad;
END
