ALTER PROCEDURE [dbo].[sp_NovedadTecnica_ListarReportes]
    @FechaDesde DATE = NULL,
    @FechaHasta DATE = NULL,
    @Turno NVARCHAR(50) = NULL,
    @IdMaquina INT = NULL,
    @IdMaquinaModulo INT = NULL,
    @IdMaquinaModuloElemento INT = NULL,
    @IdTipoNovedad INT = NULL,
    @TipoMantenimiento NVARCHAR(20) = NULL,
    @IdUsuarioResponsable INT = NULL,
    @TiempoMinimo INT = NULL,
    @TiempoMaximo INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        nt.IdNovedadTecnica,
        nt.IdBitacora,
        b.Fecha,
        b.Turno,
        b.IdMaquina,
        m.Nombre AS NombreMaquina,

        nt.IdTipoNovedadTecnica,
        tn.Nombre AS TipoNovedadTecnica,

        nt.TipoMantenimiento,
        nt.Descripcion,
        nt.Diagnostico,
        nt.SolucionAplicada,
        nt.ReportadoPor,
        nt.Validado,
        nt.TiempoPerdidoMinutos,

        nt.IdMaquinaModulo,
        mm.Nombre AS NombreModulo,

        nt.IdMaquinaModuloElemento,
        mme.Nombre AS NombreElemento,

        nt.IdUsuarioReporta,
        (ur.Nombres + ' ' + ur.Apellidos) AS NombreUsuarioReporta,

        nt.IdUsuarioResponsable,
        CASE
            WHEN ures.IdUsuario IS NOT NULL THEN (ures.Nombres + ' ' + ures.Apellidos)
            ELSE NULL
        END AS NombreUsuarioResponsable,

        nt.FechaCreacion
    FROM dbo.NovedadTecnica nt
    INNER JOIN dbo.Bitacora b
        ON b.IdBitacora = nt.IdBitacora
    INNER JOIN dbo.Maquina m
        ON m.IdMaquina = b.IdMaquina
    INNER JOIN dbo.TipoNovedad tn
        ON tn.IdTipoNovedad = nt.IdTipoNovedadTecnica
    INNER JOIN dbo.Usuario ur
        ON ur.IdUsuario = nt.IdUsuarioReporta
    LEFT JOIN dbo.Usuario ures
        ON ures.IdUsuario = nt.IdUsuarioResponsable
    LEFT JOIN dbo.MaquinaModulo mm
        ON mm.IdMaquinaModulo = nt.IdMaquinaModulo
    LEFT JOIN dbo.MaquinaModuloElemento mme
        ON mme.IdMaquinaModuloElemento = nt.IdMaquinaModuloElemento
    WHERE
        (@FechaDesde IS NULL OR b.Fecha >= @FechaDesde)
        AND (@FechaHasta IS NULL OR b.Fecha <= @FechaHasta)
        AND (@Turno IS NULL OR @Turno = '' OR @Turno = '0' OR b.Turno = @Turno)
        AND (@IdMaquina IS NULL OR @IdMaquina = 0 OR b.IdMaquina = @IdMaquina)
        AND (@IdMaquinaModulo IS NULL OR @IdMaquinaModulo = 0 OR nt.IdMaquinaModulo = @IdMaquinaModulo)
        AND (@IdMaquinaModuloElemento IS NULL OR @IdMaquinaModuloElemento = 0 OR nt.IdMaquinaModuloElemento = @IdMaquinaModuloElemento)
        AND (@IdTipoNovedad IS NULL OR @IdTipoNovedad = 0 OR nt.IdTipoNovedadTecnica = @IdTipoNovedad)
        AND (@TipoMantenimiento IS NULL OR @TipoMantenimiento = '' OR @TipoMantenimiento = '0' OR nt.TipoMantenimiento = @TipoMantenimiento)
        AND (@IdUsuarioResponsable IS NULL OR @IdUsuarioResponsable = 0 OR nt.IdUsuarioResponsable = @IdUsuarioResponsable)
        AND (@TiempoMinimo IS NULL OR ISNULL(nt.TiempoPerdidoMinutos, 0) >= @TiempoMinimo)
        AND (@TiempoMaximo IS NULL OR ISNULL(nt.TiempoPerdidoMinutos, 0) <= @TiempoMaximo)
    ORDER BY
        b.Fecha DESC,
        b.Turno ASC,
        nt.IdNovedadTecnica DESC;
END