CREATE OR ALTER PROCEDURE dbo.sp_Producto_Desactivar
(
    @IdProducto INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- 1) Desactivar asignaciones
        UPDATE dbo.MaquinaProducto
           SET Activo = 0
         WHERE IdProducto = @IdProducto;

        -- 2) Desactivar producto
        UPDATE dbo.Producto
           SET Activo = 0
         WHERE IdProducto = @IdProducto;

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
