USE [TQ_Bitacoras]
GO
/****** Object:  StoredProcedure [dbo].[sp_NovedadTecnica_ObtenerPorId]    Script Date: 14/03/2026 8:14:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_NovedadTecnica_ObtenerPorId]
    @IdNovedadTecnica INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        nt.IdNovedadTecnica,
        nt.IdBitacora,
        nt.IdTipoNovedadTecnica,
        nt.TipoMantenimiento,
        nt.Descripcion,
        nt.Diagnostico,
        nt.SolucionAplicada,
        nt.ReportadoPor,
        nt.Validado,
        nt.TiempoPerdidoMinutos,
        nt.IdMaquinaModulo,
        nt.IdMaquinaModuloElemento,
        nt.IdUsuarioReporta,
        nt.IdUsuarioResponsable,
        nt.FechaCreacion,

        b.Fecha,
        b.Turno,
        b.IdMaquina,
        b.IdUsuario AS IdUsuarioBitacora,

        (u.Nombres + ' ' + u.Apellidos) AS NombreUsuarioReporta,
        tn.Nombre AS TipoNovedadTecnicaNombre
    FROM dbo.NovedadTecnica nt
    INNER JOIN dbo.Bitacora b
        ON b.IdBitacora = nt.IdBitacora
    INNER JOIN dbo.Usuario u
        ON u.IdUsuario = nt.IdUsuarioReporta
    INNER JOIN dbo.TipoNovedad tn
    ON tn.IdTipoNovedad = nt.IdTipoNovedadTecnica
    WHERE nt.IdNovedadTecnica = @IdNovedadTecnica;
END